<div class="d-flex flex-column p-3 text-center rounded-3 mt-3 mr-3">
  <a routerLink="/cars" class="nav-link"
    ><h5 class="text-center fw-bold cursor-pointer">Colors</h5></a
  >
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Search Color"
  />

  <hr />
  <a
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{ color.colorId }}"
    *ngFor="let color of colors | filterPipeColor: filterText"
    class="nav-link"
  >
    {{ color.colorName }}
  </a>
</div>
