<div class="row">
  <div class="col-md-3"><div class="logo"></div></div>
  <div class="col-md-9">
    <nav
      class="navbar navbar-expand-lg d-grid d-md-flex justify-content-md-between navbar rounded-3"
    >
      <div class="container-fluid text-muted">
        <div
          class="collapse navbar-collapse justify-content-start"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <a class="navbar-brand active" href="#">Rent A Car</a>
            <a
              routerLink="/cars"
              class="nav-link active"
              aria-current="page"
              href="#"
              >Cars</a
            >

            <a routerLink="/customers" class="nav-link">Customers</a>

            <a routerLink="/admin-panel" class="nav-link">Admin Panel</a>
          </ul>
        </div>
        <div *ngIf="isLogIn() && getUser()" class="dropdown">
          <button
            class="btn btn-primary btn-sm dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-user-alt"></i> {{ getUser().firstName }}
            {{ getUser().lastName }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a
                routerLink="/profile"
                class="dropdown-item"
                style="cursor: pointer"
                >Profile</a
              >
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a
                routerLink=""
                class="dropdown-item"
                style="cursor: pointer"
                (click)="logout()"
                >Log out</a
              >
            </li>
          </ul>
        </div>
        <div *ngIf="!isLogIn()" class="justify-content-end">
          <button routerLink="login" class="btn btn-primary btn-sm me-md-2">
            Log In
          </button>
          <button
            routerLink="register"
            class="btn btn-outline-primary btn-sm me-md-2"
          >
            Sign Up
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>
