<div class="d-flex flex-column p-3 text-center rounded-3 mt-3 mr-3">
  <a routerLink="/cars" class="nav-link"><h5 class="text-center fw-bold">Brands</h5></a>

  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="brandName"
    placeholder="Search Brand"
  />
  <hr />
  <a
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{ brand.brandId }}"
    *ngFor="let brand of brands | filterPipeBrand: filterText"
    class="nav-link"
  >
    {{ brand.brandName }}
  </a>
</div>
