<ul>
  <li class="list-group-item" routerLink="/cars">
   <label><h5 class="text-center fw-bold">Brands</h5></label> 


      <input
        type="text"
        [(ngModel)]="filterText"
        class="form-control"
        id="brandName"
        placeholder= "Search Brand"
      />
  </li>
  <li
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{ brand.brandId }}"
    *ngFor="let brand of brands | filterPipeBrand: filterText"
    class="list-group-item"
  >
    {{ brand.brandName }}
  </li>
</ul>
