<footer class="my-5  pt-5 text-black text-center">
    <p class="mb-1">&copy; 2021 Salih Kamaş</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://www.facebook.com/salih.kamas" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
      <li class="list-inline-item"><a href="https://twitter.com/salihkamas" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
      <li class="list-inline-item"><a href="https://github.com/salihkamas" target="_blank"><i class="fab fa-github-square"></i></a></li>
      <li class="list-inline-item"><a href="https://www.linkedin.com/in/salih-kama%C5%9F-316167204/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </footer>