<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="home-tab"
      data-bs-toggle="tab"
      data-bs-target="#home"
      type="button"
      role="tab"
      aria-controls="home"
      aria-selected="true"
    >
      Cars
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="profile-tab"
      data-bs-toggle="tab"
      data-bs-target="#profile"
      type="button"
      role="tab"
      aria-controls="profile"
      aria-selected="false"
    >
      Brands
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="contact-tab"
      data-bs-toggle="tab"
      data-bs-target="#contact"
      type="button"
      role="tab"
      aria-controls="contact"
      aria-selected="false"
    >
      Colors
    </button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    <table
      class="table table-primary table-striped text-center card-body justify-content-center align-items-center"
    >
      <thead>
        <tr>
          <th>Car ID</th>
          <th>Car</th>
          <th>Brand</th>
          <th>Color</th>
          <th>Daily Price</th>
          <th>Description</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars" class="align-middle">
          <td>{{ car.carId }}</td>
          <td>{{ car.carName }}</td>
          <td>{{ car.brandName }}</td>
          <td>{{ car.colorName }}</td>
          <td>{{ car.dailyPrice | currency: "₺" }}</td>
          <td>{{ car.description }}</td>
          <td>
            <button
              routerLink="/cars/update/{{ car.carId }}"
              class="btn btn-outline-primary"
            >
              <i class="fas fa-edit"></i>
            </button>
          </td>
          <td>
            <button (click)="deleteCar(car)" class="btn btn-outline-danger">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="tab-pane fade"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    <table
      class="table table-primary table-striped text-center card-body justify-content-center align-items-center"
    >
      <thead>
        <tr>
          <th>Brand ID</th>
          <th>Brand Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands" class="align-middle">
          <td>{{ brand.brandId }}</td>
          <td>{{ brand.brandName }}</td>
          <td>
            <button
              routerLink="/brand/update/{{ brand.brandId }}"
              class="btn btn-outline-primary"
            >
              <i class="fas fa-edit"></i>
            </button>
          </td>
          <td>
            <button (click)="deleteBrand(brand)" class="btn btn-outline-danger">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="tab-pane fade"
    id="contact"
    role="tabpanel"
    aria-labelledby="contact-tab"
  >
    <table
      class="table table-primary table-striped text-center card-body justify-content-center align-items-center rounded-3"
    >
      <thead>
        <tr>
          <th>Color ID</th>
          <th>Color Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let color of colors" class="align-middle">
          <td>{{ color.colorId }}</td>
          <td>{{ color.colorName }}</td>
          <td>
            <button
              routerLink="/color/update/{{ color.colorId }}"
              class="btn btn-outline-primary"
            >
              <i class="fas fa-edit"></i>
            </button>
          </td>
          <td>
            <button (click)="deleteColor(color)" class="btn btn-outline-danger">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
