<div class="card mt-4">
    <div class="card-body">
      <table class="table">
        
        <thead>
          <tr>
            <th>Brand</th>
            <th>Color</th>
            <th>Model Year</th>
            <th>Rent Date</th>
            <th>Return Date</th>
            <th>Daily Price</th>
            <th>Total</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf="car!=undefined" >
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
            <td>{{car.dailyPrice | currency :"₺"}}</td>
            <td><strong class="text-danger">{{amount | currency:'₺'}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="card mt-4">
    <div class="card-header text-center">
      <strong>Credit Card Info</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="d-flex flex-row">
        <div class="inputbox mt-3 ">
          <span>First name</span>
          <input
            type="text"
            class="form-control"
            required="required"
            style="width: 12rem;"
          />
        </div>
        <div class="inputbox mt-3 ms-3">
            <span> Last name</span>
            <input  type="text"
            class="form-control"
            required="required"
            style="width: 12rem;">
          </div>

        </div>
        <div class="row">
          <div>
            <div class="inputbox mt-3 mr-2">
              <span>Card Number <i class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i> <i class="fab fa-cc-amex"></i> <i class="fab fa-cc-paypal"></i></span>
              <input
                type="text"
                class="form-control"
                required="required"
                style="width: 12rem;"
              />
            </div>
          </div>
          <div class="col-md-8">
            <div class="d-flex flex-row">
              <div class="inputbox mt-3 mr-2">
                <span>Month</span>
                <input
                  type="text"
                  class="form-control"
                  required="required"
                />
              </div>
              <div class="inputbox mt-3 mr-2 ms-3">
                <span>Year</span>
                <input
                  type="text"
                  class="form-control"
                  required="required"
                />
              </div>
            </div>
            <div class="inputbox mt-3 mr-2">
              <span>CVV</span>
              <input
                type="text"
                class="form-control"
                required="required"
                style="width: 10rem;"
              />
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="card-footer">
      <div class="row">
          <button (click)="payment()" routerLink = "/cars" class="btn btn-primary btn-lg" style="width: 10rem;" ><strong>{{ amount | currency :'₺' }}  PAY </strong></button>
      </div>
  </div>
  </div>