<table class="table-light fw-bold table text-center">
  <thead>
    <tr>
      <th>Car</th>
      <th>Brand</th>
      <th>Color</th>
      <th>Daily Price</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="car" class="fs-5">
      <td>{{ car.carName }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.dailyPrice | currency: "₺" }}</td>
      <td>{{ car.description }}</td>
    </tr>
  </tbody>
</table>
<div class="content align-self-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Car Update Form</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="carUpdateForm">
          <div class="mb-3">
            <label for="carName">Car Name</label>
            <div class="form-group">
              <input
                type="text"
                id="carName"
                formControlName="carName"
                class="form-control"
                placeholder="Car Name"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="brandId">Brand</label>
            <div class="form-group">
              <select id="brand" class="form-select" formControlName="brandId">
                <option value="">Brand...</option>
                <option *ngFor="let brand of brands" [value]="brand.brandId">
                  {{ brand.brandName }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="colorId">Color</label>
            <div class="form-group">
              <select id="color" class="form-select" formControlName="colorId">
                <option value="">Color...</option>
                <option *ngFor="let color of colors" [value]="color.colorId">
                  {{ color.colorName }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="modelYear">Model Year</label>
            <div class="form-group">
              <input
                type="text"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
                placeholder="Model Year"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="dailyPrice">Daily Price</label>
            <div class="form-group">
              <input
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
                placeholder="Daily Price"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="description">Description</label>
            <div class="form-group">
              <input
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                placeholder="Description"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer justify-content-end d-flex">
        <button class="btn btn-primary btn-fill btn-lg" (click)="update()">
          UPDATE
        </button>
      </div>
    </div>
  </div>
</div>
