<div class="card"><div
  *ngIf="dataLoaded == false"
  class="spinner-border text-danger"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

  <div class="d-flex justify-content-evenly card-top">
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="carName"
      placeholder="Search Car"
      style="width: 14rem; height: 40px;"
    />
    <app-car-filter></app-car-filter>
    </div>
    


<table *ngIf="dataLoaded == true" class="table-light table text-center card-body">
  <thead>
    <tr>
      <th>Car</th>
      <th>Brand</th>
      <th>Color</th>
      <th>Daily Price</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let car of cars | filterPipe: filterText"
    >
      <td>{{ car.carName }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.dailyPrice | currency: "₺" }}</td>
      <td>{{ car.description }}</td>
      <td
        (click)="setCurrentCar(car)"
        routerLink="/cars/details/{{ car.carId }}"
      >
        <button type="button" class="btn btn-dark">Detail</button>
      </td>
    </tr>
  </tbody>
</table></div>

