<div class="content">
  <div class="row justify-content-around">
    <div class="col-5">
      <input
        type="text"
        [(ngModel)]="filterText"
        class="form-control"
        id="carName"
        placeholder="Search Car"
      />
    </div>
    <div class="col-6"><app-car-filter></app-car-filter></div>
  </div>
</div>
  <table
    *ngIf="dataLoaded == true"
    class="table table-secondary table-striped text-center card-body justify-content-center align-items-center"
  >
    <thead>
      <tr>
        <th></th>
        <th>Car</th>
        <th>Brand</th>
        <th>Color</th>
        <th>Daily Price</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars | filterPipe: filterText" class="align-middle">
        <td><img src="{{car.imagePath}}" class="rounded" width="300px" height="200px" alt=""></td>
        <td>{{ car.carName }}</td>
        <td>{{ car.brandName }}</td>
        <td>{{ car.colorName }}</td>
        <td>{{ car.dailyPrice | currency: "₺" }}</td>
        <td>{{ car.description }}</td>
        <td
          (click)="setCurrentCar(car)"
          routerLink="/cars/details/{{ car.carId }}"
        >
          <button type="button" class="btn btn-outline-dark">Detail</button>
        </td>
      </tr>
    </tbody>
  </table>

