<div class="content justify-content-center align-items-center">
  <div *ngIf="getUser()" class="profile-card">
    <div class="card-header">
      <div class="pic">
        <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="" />
      </div>
      <div class="name">{{ getUser().firstName }} {{ getUser().lastName }}</div>
      <div class="desc">User ID : {{ getUser().userId }}</div>
      <button class="contact">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>
</div>
