*{
    box-sizing: border-box;
    text-decoration: none;
}
body{   
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-card{
    margin: 60px auto;
    width: 400px;
    text-align: center;
    background:  linear-gradient(#2dc8f3 0, #1497e2 70%);
    border-radius: 8px;
    overflow: hidden;
}
.card-header{
    background: #2c3a47;
    padding: 60px 40px;
}
.pic{
    display: inline-block;
    padding: 8px;
    background:  linear-gradient(#2dc8f3 0, #1497e2 70%);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient {
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }

}
.pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 60%;
}
.name{
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.desc{
    font-size:18px ;
color: #1497e2;
}
.contact{
    display: inline-block;
    padding: 12px 50px;
    color: #1497e2;
    border: 2px solid #1497e2;
    border-radius: 6px;
    margin-top: 16px;
    transition:.3s linear ;
}
.contact:hover{
    background:  linear-gradient(#2dc8f3 0, #1497e2 70%);
    color: #f2f2f2;
}